In [1]:
from shapely.geometry import Point
import pandas as pd
import numpy as np
import seaborn as sns
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [2]:
%matplotlib inline

In [32]:
derecho_911 = pd.read_csv("../data/911_Phone Calls_Derecho_050320 050420.csv")
tornado_911 = pd.read_csv("../data/911_Phone_Calls_Tornado_030320.csv")
disp_derecho = pd.read_csv("../data/Computer Aided Dispatch Data_Derecho Incidents 050320-050420.csv",skiprows=2)
disp_tornado = pd.read_csv("../data/Computer Aided Dispatch Data_Tornado Incidents 030320.csv",skiprows=3)
sfamily2017 = pd.read_csv("../data/2017 single family_final_with_sqft.csv")
zipcodes = gpd.read_file('../data/zipcodes.geojson')

In [28]:
disp_derecho.tail()

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
622,5/4/2020 12:21:00 AM,625 BENTON AV,36.131384,-86.770628,HIGH RISE NATURAL GAS ODOR
623,5/4/2020 12:21:32 AM,518 BRENTLAWN DR,36.064362,-86.761199,UNKNOWN STATUS
624,5/4/2020 12:22:47 AM,517 ALBANY DR,36.212754,-86.600431,ELECTRICAL HAZARD
625,5/4/2020 12:27:52 AM,639 LAFAYETTE ST,36.153769,-86.777520,SICK PERSON: NO PRIORITY SYMPTOMS
626,5/4/2020 12:29:50 AM,2011 HAYES ST,36.151839,-86.800791,PULL STATION ALARM COMMERCIAL INDUSTRIAL BUILD

In [5]:
disp_tornado.head()

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
0,3/3/2020 12:36:34 AM,6205 COCKRILL BEND CIR,36.182002,-86.894052,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
1,3/3/2020 12:37:24 AM,7337 COCKRILL BEND BLVD,36.175666,-86.894978,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
2,3/3/2020 12:38:17 AM,110 TUNE AIRPORT DR,36.179299,-86.883727,STRUCTURE FIRE COMMERCIAL INDUSTRIAL
3,3/3/2020 12:39:40 AM,555 MARRIOTT DR,36.151108,-86.689921,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
4,3/3/2020 12:39:42 AM,1414 COUNTY HOSPITAL RD,36.177926,-86.845934,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD

In [24]:
disp_tornado['IncidentTypeDescription1'].value_counts()

GENERAL ALARM COMMERCIAL   INDUSTRIAL BUILD    27
OUTSIDE ODOR                                   26
WIRES DOWN WITH NO SMOKE OR ARCING             17
SMALL BUILDING INVESTIGATION                   15
ELECTRICAL HAZARD WITH OR NEAR WATER           12
                                               ..
HIGH LIFE HAZARD   ODOR WITH PATIENT            1
PULL STATION ALARM HOUSE                        1
HEART PROBLEMS UNKNOWN STATUS                   1
DEFECATION / DIARRHEA                           1
APARTMENT NATURAL GAS LEAK                      1
Name: IncidentTypeDescription1, Length: 90, dtype: int64

In [6]:
derecho_911.head()

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,5/3/2020 16:30,911 Calls,36.247802,-86.716847,WIRELESS CALLER
1,5/3/2020 16:30,911 Calls,36.143108,-86.800621,1161 21ST AV S - SE
2,5/3/2020 16:30,911 Calls,36.100516,-87.056329,8013 C MCCRORY LN - N
3,5/3/2020 16:30,911 Calls,36.130021,-86.927819,5758 RIVER RD - SW
4,5/3/2020 16:31,911 Calls,36.142380,-86.881882,3744B ANNEX AVE - SE

In [7]:
tornado_911.head()

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,3/3/2020 0:34,911 Calls,36.072708,-86.665779,620 Richards RD - N Sector
1,3/3/2020 0:36,911 Calls,36.159634,-86.841904,4507D KENTUCKY AV - SE
2,3/3/2020 0:36,911 Calls,36.264153,-86.708862,329 THELMA ST - S Sector
3,3/3/2020 0:36,911 Calls,NaN,NaN,526 FOUNDRY DR
4,3/3/2020 0:36,911 Calls,36.233467,-86.721077,5007B RUSKIN AVE - N

In [27]:
tornado_911.dtypes

Seizure DateTime       object
CallTypeId             object
ALI Latitude          float64
ALI Longitude         float64
Cell Tower Address     object
dtype: object

In [33]:
zipcodes.head()

,zip,objectid,po_name,shape_stlength,shape_starea,geometry
0,37115,1,MADISON,178783.02488886821,596553400.57885742,"MULTIPOLYGON (((-86.68725 36.31821, -86.68722 ..."
1,37216,3,NASHVILLE,75820.997821400058,188884682.28344727,"MULTIPOLYGON (((-86.73451 36.23774, -86.73425 ..."
2,37204,9,NASHVILLE,93180.292250425613,200664795.51708984,"MULTIPOLYGON (((-86.77914 36.13424, -86.77923 ..."
3,37027,11,BRENTWOOD,159760.6942933173,174978422.04101562,"MULTIPOLYGON (((-86.81258 36.06319, -86.81263 ..."
4,37064,18,FRANKLIN,28995.828320601937,46969608.005737305,"MULTIPOLYGON (((-87.02197 36.01200, -87.02140 ..."

In [34]:
disp_tornado['geometry'] = disp_tornado.apply(lambda x: Point((float(x.Longitude1), 
                                                         float(x.Latitude1))), 
                                        axis=1)
disp_tornado.head(3)

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1,geometry
0,3/3/2020 12:36:34 AM,6205 COCKRILL BEND CIR,36.182002,-86.894052,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD,POINT (-86.89405212 36.18200191)
1,3/3/2020 12:37:24 AM,7337 COCKRILL BEND BLVD,36.175666,-86.894978,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD,POINT (-86.89497756999999 36.175666)
2,3/3/2020 12:38:17 AM,110 TUNE AIRPORT DR,36.179299,-86.883727,STRUCTURE FIRE COMMERCIAL INDUSTRIAL,POINT (-86.8837274 36.17929946)

In [35]:
dt_geo = gpd.GeoDataFrame(disp_tornado, 
                           crs = zipcodes.crs, 
                           geometry = disp_tornado['geometry'])

In [36]:
zipcodes = zipcodes[['zip', 'po_name', 'geometry']]

In [37]:
dt_by_zip = gpd.sjoin(dt_geo, zipcodes, op = 'within')

In [39]:
dt_by_zip['zip'].value_counts()

37206    72
37208    59
37076    37
37214    27
37209    14
37201     7
37207     7
37115     6
37213     5
37219     5
37218     5
37205     3
37211     2
37210     2
37216     2
37203     2
37138     1
37080     1
37228     1
37217     1
37013     1
Name: zip, dtype: int64