### Imports

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

%matplotlib inline

ModuleNotFoundError: No module named 'shapely'

### csvs and Dataframes

In [14]:
derecho_911 = pd.read_csv('../Dataread/data/911_Phone Calls_Derecho_050320 050420.csv')
tornado_911 = pd.read_csv('../Dataread/data/911_Phone_Calls_Tornado_030320.csv')
disp_derecho = pd.read_csv('../Dataread/data/Computer Aided Dispatch Data_Derecho Incidents 050320-050420.csv', skiprows = 2)
disp_tornado = pd.read_csv('../Dataread/data/Computer Aided Dispatch Data_Tornado Incidents 030320.csv', skiprows = 3)

### Data overview

In [18]:
derecho_911.head()

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,5/3/2020 16:30,911 Calls,36.247802,-86.716847,WIRELESS CALLER
1,5/3/2020 16:30,911 Calls,36.143108,-86.800621,1161 21ST AV S - SE
2,5/3/2020 16:30,911 Calls,36.100516,-87.056329,8013 C MCCRORY LN - N
3,5/3/2020 16:30,911 Calls,36.130021,-86.927819,5758 RIVER RD - SW
4,5/3/2020 16:31,911 Calls,36.142380,-86.881882,3744B ANNEX AVE - SE

In [19]:
tornado_911.head()

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,3/3/2020 0:34,911 Calls,36.072708,-86.665779,620 Richards RD - N Sector
1,3/3/2020 0:36,911 Calls,36.159634,-86.841904,4507D KENTUCKY AV - SE
2,3/3/2020 0:36,911 Calls,36.264153,-86.708862,329 THELMA ST - S Sector
3,3/3/2020 0:36,911 Calls,NaN,NaN,526 FOUNDRY DR
4,3/3/2020 0:36,911 Calls,36.233467,-86.721077,5007B RUSKIN AVE - N